@use "variables" as v;
@use "utils";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;

  gap: 16px;

  p {
    text-align: center;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
